modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_database:1.0.0"]

[userenv]

[userenv.shared]
DISCORD_CLIENT_ID = "1472923544315891810"
DISCORD_CLIENT_SECRET = "X82jMtUsnbzTR4IUMLUDkNIzfGSSS66p"
NEXTAUTH_URL = "https://asset-manager--hichamadmin.replit.app"
TRUST_PROXY = "true"
NODE_ENV = "production"
YOUTUBE_API_KEY = "AIzaSyBzGIB_xk4l8DD4tf8U8XZnlW8ouZ-KV4E"
ADMIN_PASSWORD = "adminkinghicham2008"
